@keyframes slideBg {
  0% {
    background-image: url(../img/images/slide-1.webp); }
  33% {
    background-image: url(../img/images/slide-2.webp); }
  66% {
    background-image: url(../img/images/slide-3.webp); }
  100% {
    background-image: url(../img/images/slide-1.webp); } }

@keyframes loading {
  0% {
    width: 0%; }
  30% {
    width: 15%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: initial; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }
  body::-webkit-scrollbar {
    width: 1rem;
    padding: 0 2px; }
  body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6); }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.6); }
    body::-webkit-scrollbar-thumb:hover {
      background-color: #fff; }

::selection {
  color: #ffc75e;
  background-color: #1098a8; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333; }

.heading-primary {
  margin-bottom: 7rem;
  font-weight: 400;
  letter-spacing: 2px; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      margin-bottom: 6rem; } }
  @media only screen and (orientation: landscape) and (max-width: 50em) {
    .heading-primary {
      margin-bottom: 4rem; } }
  .heading-primary--main {
    color: #fff;
    display: block;
    font-size: 7rem; }
    @media only screen and (max-width: 75em) {
      .heading-primary--main {
        font-size: 6.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5.5rem; } }
    @media only screen and (max-width: 30em) {
      .heading-primary--main {
        font-size: 4.5rem;
        margin: 0 1rem; } }
    @media only screen and (orientation: landscape) and (max-width: 50em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    color: #ccc;
    display: block;
    font-size: 4.5rem; }
    @media only screen and (max-width: 75em) {
      .heading-primary--sub {
        font-size: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 3rem; } }
    @media only screen and (max-width: 30em) {
      .heading-primary--sub {
        font-size: 2.5rem; } }
    @media only screen and (orientation: landscape) and (max-width: 50em) {
      .heading-primary--sub {
        font-size: 3.5rem; } }

.heading-secondary {
  font-size: 4.8rem;
  color: #1f2635;
  font-weight: 400;
  position: relative; }
  .heading-secondary::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 3px;
    background-color: #1f2635;
    display: inline-block; }
  .heading-secondary--yellow {
    color: #feb221; }
  .heading-secondary--yellow::after {
    background-color: #feb221; }

.heading-3 {
  font-size: 3rem;
  color: #1f2635;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-huge {
  margin-top: 8rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.btn {
  text-decoration: none;
  border: 2px solid #feb221;
  border-radius: 100px;
  font-size: 2rem;
  width: 19rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s; }
  .btn--full {
    color: #333;
    background-color: #feb221;
    text-transform: uppercase; }
  .btn--ghost {
    color: #feb221; }
  .btn--full:hover, .btn--ghost:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #df9408;
    border-color: #df9408; }
  .btn--full:active, .btn--ghost:active {
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }

.btn-project--full, .btn-project--ghost {
  cursor: pointer;
  text-decoration: none;
  width: 35%;
  border: 1px solid #1f2635;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.3rem 0.6rem;
  border-radius: 100px;
  transition: all 0.2s;
  outline: none; }

.btn-project--full:hover, .btn-project--ghost:hover {
  color: #fff;
  border: 1px solid #385793;
  background-color: #385793;
  transform: translateY(-2px);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }

.btn-project--full:active, .btn-project--ghost:active {
  transform: translateY(0);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5); }

.btn-project--full {
  color: #fff;
  background-color: #1f2635; }

.btn-project--ghost {
  color: #1f2635; }
  .btn-project--ghost--contact {
    border: 2px solid #1f2635;
    background-color: transparent;
    padding: 1rem 2rem;
    font-size: 2rem; }
  .btn-project--ghost--contact:hover {
    border: 2px solid #385793; }

.project-card {
  min-height: 35rem;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.07);
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .project-card__img-container {
    width: 100%; }
  .project-card__img {
    width: 100%;
    filter: blur(2px) brightness(50%);
    transition: all 0.3s; }
  .project-card:hover .project-card__img {
    filter: blur(0) brightness(100%); }
  .project-card__title {
    width: 65%;
    padding: 0.3rem 0.5rem;
    margin: 0 auto;
    border: 1px solid #1f2635;
    border-radius: 7px;
    text-align: center;
    background-color: #fff;
    transform: translateY(-90%);
    margin-bottom: -3rem; }
    .project-card__title span {
      font-size: 1.8rem;
      font-weight: 500; }
  .project-card__description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc; }
  .project-card__technologies, .project-card__description {
    font-size: 1.3rem;
    color: #777; }
  .project-card__btns {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 7px 12px 12px rgba(0, 0, 0, 0.12); }

.features {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .features {
      width: 80%;
      margin: 6rem auto 0 auto; } }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 20rem; }
  .feature__container {
    width: 9.6rem;
    height: 9.6rem;
    background-color: #1f2635;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s; }
    .feature__container:hover {
      background-color: #355289; }
    .feature__container:hover .feature__icon {
      fill: #feb221; }
  .feature__icon {
    width: 7rem;
    height: 7rem;
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s; }
    .feature__icon:last-child {
      height: 6rem;
      width: 6rem; }
  .feature p.feature__text {
    font-size: 1.6rem; }

.section-contact {
  display: flex; }
  .section-contact__left {
    width: 60%;
    padding: 6rem 0;
    background-color: #feb221; }
    @media only screen and (max-width: 30em) {
      .section-contact__left {
        width: 100%; } }
  .section-contact__right {
    width: 40%;
    background-image: url(../img/images/bulb.webp);
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 30em) {
      .section-contact__right {
        width: 0%; } }

.form {
  width: 75%;
  margin: 0 auto; }
  .form__group {
    width: 100%;
    position: relative;
    margin-bottom: 6rem; }
  .form__input {
    width: 100%;
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1f2635;
    font-size: 1.8rem;
    padding: 0.3rem 0.6rem;
    outline: none; }
    .form__input::-webkit-input-placeholder {
      color: #385793; }
  .form__label {
    opacity: 0;
    color: #feb221;
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.6rem;
    transition: all 0.2s; }
  .form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-3rem);
    opacity: 1;
    color: #385793; }

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem; }
  .skill__name {
    width: 10rem;
    background-color: #fff;
    border-radius: 10rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .skill__name {
        width: 9rem; } }
    .skill__name span {
      font-size: 1.8rem;
      padding: 0.5rem 1rem; }
      @media only screen and (max-width: 37.5em) {
        .skill__name span {
          padding: 0.2rem 0.5rem;
          font-size: 1.5rem; } }
  .skill__bar-empty {
    width: 80%;
    height: 1.5rem;
    background-color: #cccccc80;
    border-radius: 5rem;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .skill__bar-empty {
        margin: 0 1rem; } }
  .skill__bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    background-color: #feb221;
    border-radius: 5rem; }
    .skill__bar-fill.html.load, .skill__bar-fill.css.load {
      width: 95%; }
    .skill__bar-fill.sass.load, .skill__bar-fill.javascript.load, .skill__bar-fill.figma.load, .skill__bar-fill.react.load {
      width: 90%; }
    .skill__bar-fill.firebase.load, .skill__bar-fill.typescript.load {
      width: 80%; }
    .skill__bar-fill.node-js.load, .skill__bar-fill.express.load {
      width: 70%; }
    .skill__bar-fill.mongodb.load {
      width: 55%; }
  .skill__percentage {
    opacity: 0;
    color: #fff;
    font-size: 2.2rem;
    transition: all 2s; }

.load {
  animation: loading 1s linear; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1f2635;
  padding: 6rem 0;
  font-size: 1.8rem; }
  .footer__top {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .footer__top {
        flex-direction: column; } }
    .footer__top > * {
      width: 33.33%;
      text-align: center; }
      @media only screen and (max-width: 50em) {
        .footer__top > * {
          width: 90%;
          margin: 1.5rem auto; } }
  .footer__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__nav-item a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    transition: all 0.3s; }
  .footer__nav-item a:hover {
    opacity: 1; }
  .footer__logo img {
    opacity: 0.5;
    transition: all 0.3s; }
  .footer__logo img:hover {
    opacity: 1; }
  .footer__link-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    text-decoration: none; }
    .footer__link-item p {
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
      transition: all 0.2s; }
  .footer__link-item:hover p,
  .footer__link-item:hover .footer__link-icon {
    opacity: 1; }
  .footer__link-icon {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    opacity: 0.5;
    margin-right: 2rem;
    transition: all 0.2s; }
  .footer__bottom {
    margin-top: 3rem;
    color: #fff;
    display: flex; }
    .footer__bottom p {
      opacity: 0.5;
      margin-right: 1rem; }
    .footer__bottom a {
      font-size: 1.8rem;
      text-decoration: none;
      color: #fff;
      opacity: 0.5; }
    .footer__bottom a:hover {
      opacity: 1; }

.header {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 15s linear infinite 0s;
  animation-timing-function: cubic-bezier(1, 0, 0.3, 1);
  background-image: url(../img/images/slide-1.webp);
  background-attachment: fixed; }
  .header__dark-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); }
  .header__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem; }
    @media only screen and (max-width: 30em) {
      .header__logo-box {
        top: 3.5rem;
        left: 3.5rem; } }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    min-width: 65rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        min-width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        top: 55%; } }
    @media only screen and (orientation: landscape) and (max-width: 50em) {
      .header__text-box {
        top: 60%; } }
  .header__btns-box {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .header__btns-box {
        flex-direction: column; } }
    .header__btns-box > * {
      margin: 0 2rem; }
      @media only screen and (max-width: 37.5em) {
        .header__btns-box > * {
          margin-bottom: 2rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  cursor: pointer;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
  text-align: center; }
  @media only screen and (max-width: 30em) {
    .navigation__button {
      top: 5rem;
      right: 4rem; } }

.navigation__background {
  width: 35vw;
  height: 100vh;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  background-image: radial-gradient(#385793, #1f2635);
  z-index: 1000;
  transition: all 0.3s; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.4s;
  opacity: 0;
  width: 0; }

.navigation__list {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  transform: translate(0%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s; }
  @media screen and (max-width: 50em) and (orientation: landscape) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2rem;
      padding: 0.3rem 0.6rem;
      margin-right: 5rem; } }

.navigation__link:hover, .navigation__link:active {
  color: #feb221; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: translateX(0); }
  @media only screen and (max-width: 37.5em) {
    .navigation__checkbox:checked ~ .navigation__background {
      width: 50vw; } }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 35vw; }
  @media only screen and (max-width: 37.5em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 50vw; } }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  padding: 6rem 0; }
  .section-about__me {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @media only screen and (max-width: 37.5em) {
      .section-about__me {
        width: 20rem;
        height: 20rem; } }
  .section-about__img {
    height: 100%;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .section-about__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden; }
  .section-about__me:hover .section-about__caption {
    opacity: 1; }
  .section-about__me:hover .section-about__img {
    filter: blur(4px) brightness(80%); }
  .section-about__content {
    width: 90%;
    max-width: 100rem;
    margin: 5rem auto; }
    @media only screen and (max-width: 50em) {
      .section-about__content {
        width: 80%; } }
    .section-about__content p {
      font-size: 1.9rem;
      color: #8c8c8c;
      text-align: center;
      line-height: 1.3;
      font-weight: 100; }

.section-skills {
  background-color: #1f2635;
  padding: 6rem 0; }
  .section-skills__skills {
    width: 70%;
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 62.5em) {
      .section-skills__skills {
        width: 90%; } }
  .section-skills__github {
    height: 10rem;
    width: 10rem;
    margin: 0 calc(50% - 5rem);
    fill: #fff;
    opacity: 0.5;
    transition: all 0.3s; }
  .section-skills__github:hover {
    opacity: 1; }

.section-projects {
  padding: 6rem 0; }
  .section-projects__filter {
    width: 60%;
    max-width: 75rem;
    margin: 0 auto 6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; }
    @media only screen and (max-width: 62.5em) {
      .section-projects__filter {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .section-projects__filter {
        width: 90%; } }
    @media only screen and (max-width: 30em) {
      .section-projects__filter {
        width: 98%; } }
  .section-projects__filter-btn {
    cursor: pointer;
    text-align: center;
    width: 13rem;
    font-size: 2.4rem;
    padding: 0.5rem 0.8rem;
    border: 2px solid #1f2635;
    border-radius: 7px;
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .section-projects__filter-btn {
        font-size: 2rem; } }
    @media only screen and (max-width: 50em) {
      .section-projects__filter-btn {
        width: 11.5rem; } }
    @media only screen and (max-width: 30em) {
      .section-projects__filter-btn {
        width: 8.5rem;
        font-size: 1.7rem; } }
  .section-projects__filter-btn:hover {
    color: #fff;
    background-color: #385793;
    border-color: #385793; }
  .section-projects__filter-btn.active {
    color: #fff;
    background-color: #1f2635; }
  .section-projects .projects {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    align-items: center; }
    @media only screen and (max-width: 30em) {
      .section-projects .projects {
        width: 60%; } }
