// Colors
$color-primary: #1f2635;
$color-primary-light: #385793;
$color-secondary: #feb221;
$color-secondary-dark: #df9408;

$grey-light-1: #ccc;
$grey-light-2: #8c8c8c;
$grey-light-transparent: rgba(255, 255, 255, 0.6);
$grey-dark-transparent: rgba(0, 0, 0, 0.6);
$grey-dark: #333;

// Font
$default-font-size: 1.6rem;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-larg: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 30em; // 600px
