.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: $color-primary;
  padding: 6rem 0;
  font-size: 1.8rem;

  &__top {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
      width: 33.33%;
      text-align: center;
    }
  }

  &__nav {
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-item a {
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
      transition: all 0.3s;
    }

    &-item a:hover {
      opacity: 1;
    }
  }

  &__logo img {
    opacity: 0.5;
    transition: all 0.3s;
  }

  &__logo img:hover {
    opacity: 1;
  }

  &__link-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    p {
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
      transition: all 0.2s;
    }
  }

  &__link-item:hover p,
  &__link-item:hover &__link-icon {
    opacity: 1;
  }

  &__link-icon {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    opacity: 0.5;
    margin-right: 2rem;
    transition: all 0.2s;
  }

  &__bottom {
    margin-top: 3rem;
    color: #fff;
    display: flex;
    p {
      opacity: 0.5;
      margin-right: 1rem;
    }
    a {
      font-size: 1.8rem;
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
    }
    a:hover {
      opacity: 1;
    }
  }
}
