.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    cursor: pointer;
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
    text-align: center;

    @media only screen and (max-width: $bp-smallest) {
      top: 5rem;
      right: 4rem;
    }
  }

  &__background {
    width: 35vw;
    height: 100vh;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    background-image: radial-gradient($color-primary-light, $color-primary);
    z-index: 1000;
    transition: all 0.3s;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    transition: all 0.4s;

    opacity: 0;
    width: 0;
  }

  &__list {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    transform: translate(0%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      transition: all 0.3s;

      @media screen and (max-width: $bp-medium) and (orientation: landscape) {
        font-size: 2rem;
        padding: 0.3rem 0.6rem;
        margin-right: 5rem;
      }
    }

    &:hover,
    &:active {
      color: $color-secondary;
    }
  }

  // Functionality
  &__checkbox:checked ~ &__background {
    transform: translateX(0);

    @media only screen and (max-width: $bp-small) {
      width: 50vw;
    }
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 35vw;

    @media only screen and (max-width: $bp-small) {
      width: 50vw;
    }
  }

  // Icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
