.btn {
  text-decoration: none;
  border: 2px solid $color-secondary;
  border-radius: 100px;
  font-size: 2rem;
  width: 19rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s;

  &--full {
    color: $grey-dark;
    background-color: $color-secondary;
    text-transform: uppercase;
  }

  &--ghost {
    color: $color-secondary;
  }

  &--full:hover,
  &--ghost:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: $color-secondary-dark;
    border-color: $color-secondary-dark;
  }

  &--full:active,
  &--ghost:active {
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}
