.btn {
  text-decoration: none;
  border: 2px solid $color-secondary;
  border-radius: 100px;
  font-size: 2rem;
  width: 19rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s;

  &--full {
    color: $grey-dark;
    background-color: $color-secondary;
    text-transform: uppercase;
  }

  &--ghost {
    color: $color-secondary;
  }

  &--full:hover,
  &--ghost:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: $color-secondary-dark;
    border-color: $color-secondary-dark;
  }

  &--full:active,
  &--ghost:active {
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}

.btn-project {
  &--full,
  &--ghost {
    cursor: pointer;
    text-decoration: none;
    width: 35%;
    border: 1px solid $color-primary;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.3rem 0.6rem;
    border-radius: 100px;
    transition: all 0.2s;
    outline: none;
  }

  &--full:hover,
  &--ghost:hover {
    color: #fff;
    border: 1px solid $color-primary-light;
    background-color: $color-primary-light;
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }

  &--full:active,
  &--ghost:active {
    transform: translateY(0);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  }

  &--full {
    color: #fff;
    background-color: $color-primary;
  }

  &--ghost {
    color: $color-primary;

    &--contact {
      border: 2px solid $color-primary;
      background-color: transparent;
      padding: 1rem 2rem;
      font-size: 2rem;
    }
  }
}
