.features {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    width: 80%;
    margin: 6rem auto 0 auto;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 20rem;

  &__container {
    width: 9.6rem;
    height: 9.6rem;
    background-color: $color-primary;
    border-radius: 1.5rem;
    position: relative;
    transition: all 0.3s;

    &:hover {
      background-color: #355289;
    }

    &:hover .feature__icon {
      fill: $color-secondary;
    }
  }

  &__icon {
    width: 7rem;
    height: 7rem;
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;

    &:last-child {
      height: 6rem;
      width: 6rem;
    }
  }

  p.feature__text {
    font-size: 1.6rem;
  }
}
