@keyframes slideBg {
  0% {
    background-image: url(../img/images/slide-1.webp);
  }
  33% {
    background-image: url(../img/images/slide-2.webp);
  }
  66% {
    background-image: url(../img/images/slide-3.webp);
  }
  100% {
    background-image: url(../img/images/slide-1.webp);
  }
}

@keyframes loading {
  0% {
    width: 0%;
  }
  30% {
    width: 15%;
  }
}
