*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 1rem;
    padding: 0 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: $grey-dark-transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-light-transparent;
    border-radius: 15px;
    border: 1px solid $grey-dark-transparent;

    &:hover {
      background-color: #fff;
    }
  }
}

::selection {
  color: $color-primary;
  background-color: $color-secondary;
}
