*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  color: #ffc75e;
  background-color: #1098a8;
}
